#map {
    
    height: 100vh;
    width: 100%;
}
.search1 {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
    background: green;
    padding: 15px;
    border-radius: 50px;
    box-shadow: 0  5px rgb(51, 247, 25);
}

#inputschool {
    padding: 5px;
    width: 200px;
    border-color: aqua;
    border-radius: 50px;
}
#search2 {
    padding: 5px;
    border-color: aqua;
    border-radius: 50px;
    background-color: cornflowerblue;
    cursor: pointer;
}